<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Créer une nouvelle tâche</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div id="box">
    <h1>Créer une nouvelle tâche</h1>
    <form action="/create" th:object="${form}" method="post">
        <label for="title">Titre :</label>
        <input type="text" id="title" name="titre" required/> </br>

        <label for="description">Description :</label><br>
        <textarea id="description" name="description" rows="5" cols="33"></textarea>
        </br>

        <label for="adresse">Adresse :</label>
        <input type="text" id="adresse" name="adresse" required/> </br>

        <label for="cadeau">Cadeau :</label>
        <input type="text" id="cadeau" name="cadeau" required/> </br>

        <input type="submit" value="Créer" />
    </form>
    <a href="/"><button>Retour</button></a>
</div>

</body>
</html>